player-connection-mode=Listen
player-connection-guid=2132954754
player-connection-debug=0
player-connection-project-name=IИS
player-connection-ip=10.144.10.106
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=95d9b2ab8cbb4fccbb55ebbc624d7508
